<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cs4295.memecreator"
    android:installLocation="auto"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET"/>
	<uses-feature android:name="android.hardware.camera"
                  android:required="true" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/meme_creator_icon8"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="cs4295.memecreator.WelcomeScreenActivity"
            android:screenOrientation="userPortrait"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="cs4295.memecreator.SaveResultImageActivity"
            android:screenOrientation="userPortrait"
            android:label="@string/title_activity_save_result_image" >
        </activity>
        <activity
            android:name="cs4295.memecreator.ReceiveIntentActivity"
            android:label="@string/title_activity_receive_intent" >
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="image/*" />
            </intent-filter>
        </activity>
        <activity
            android:name="cs4295.memecreator.MemeEditorActivity"
            android:screenOrientation="userPortrait"
            android:label="@string/title_activity_meme_editor" >
        </activity>
        <activity
            android:name="cs4295.memecreator.SettingsActivity"
            android:icon="@drawable/setting_icon_white"
            android:label="@string/title_activity_settings" >
        </activity>
        <activity
            android:name="cs4295.memecreator.BrowserActivity"
            android:label="@string/title_activity_browser" >
        </activity>
        <activity
            android:name="cs4295.memecreator.FileExplorerActivity"
            android:label="@string/title_activity_file_explorer" >
        </activity>
    </application>

</manifest>
